*
{background-color:aliceblue;
box-sizing: border-box;}

    h4{
        font-style: bold;
    }
    .TOP-BAR{    
        display: flex;
        flex-direction: row;
        justify-content:space-around
    }
    
    #bones{
      background-color: steelblue;
    }
    .tags{ margin-right: 50%; }

    .second-bar{
        display: flex;
        flex-direction: row;
        justify-content:space-around
    }

    .synopsis{
    display: flex;
    margin-right: 50%;
    justify-content: left;    
    }

    .Alternative-Anime{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

    .gallery {
        border: 1px solid #ccc;
      }
      
      .gallery:hover {
        border: 1px solid #777;
      }
      
      .gallery img {
        height: 200px;
      }
      
      .desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .Alternative-Anime {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }